# d:\practicas avanzadas\ProyectoSW1Limpio\.env

# --- Configuración para Desarrollo ---

# ADVERTENCIA: NO USAR ESTA CLAVE EN PRODUCCIÓN
SECRET_KEY='django-insecure-gs%z#4)oapm$@w6q#!*33ye(8g&7ovz4o6=u5m@nk&u#872v9b'

# Activa el modo DEBUG para desarrollo
DEBUG=True

# Hosts permitidos para desarrollo
ALLOWED_HOSTS=127.0.0.1,localhost

# --- Configuracion de la Base de Datos (External Database URL) ---
DATABASE_URL=postgresql://usuario:password@host:5432/nombre_db

# --- LibreTranslate ---
LIBRETRANSLATE_URL=https://translate.argosopentech.com
# Si tu instancia requiere API key:
# LIBRETRANSLATE_API_KEY=tu_api_key
